@import url("https:/fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700&display");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
  text-decoration: none;
}
body {
  overflow: hidden;
}
.main-width {
  width: 1280px;
  max-width: 95%;
  margin: 0 auto;
  padding: 0px 20px;
}
.hero {
  width: 100%;
  color: #fff;
  height: 100%;
  min-height: 100vh;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(63, 63, 63, 0.5)),
    url(../Portfolio/imgPortfolio/vin3.jpg);
}

header {
  padding: 40px 0 30px;
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: space-between;
}
header .logo {
  color: #fff;
  font-size: 2em;
  font-weight: 700;
  text-decoration: none;
  transition: 0.5s;
}
header .logo span {
  color: #2ecc71;
}
nav .hamb {
  width: 35px;
  height: 24px;
  right: 3%;
  top: 60px;
  z-index: 5;
  background: rgb(0, 0, 0);
  position: absolute;
  cursor: pointer;
  display: none;
}
nav .hamb span {
  display: block;
  background: #2ecc71;
  width: 100%;
  height: 3px;
  transition: 0.3s;
  transition-property: transform, opacity;
}
nav .hamb span:nth-child(2) {
  margin: 7px 0px;
}
nav .nav-list {
  list-style: none;
}
nav .nav-list li {
  display: inline-block;
}
nav .nav-list li a {
  display: inline-block;
  color: #2ecc71;
  margin-left: 55px;
  font-size: 15px;
  font-weight: 600;
}
nav .nav-list li:not(:last-child) a:hover {
  color: #2ecc71;
  transition: 0.4s;
}
.container {
  padding-top: 120px;
}
.container .hero-text {
  margin-bottom: 40px;
}
.container .hero-text h1 {
  font-size: 47px;
  font-weight: 900;
  line-height: 1.2;
  margin: 5px 0px 5px;
}
span {
  color: #2ecc71;
}
.container .hero-text h3 {
  font-weight: 400;
  font-size: 17px;
}
.container .hero-text p {
  width: 440px;
  max-width: 100%;
  font-size: 15px;
  line-height: 1.5;
  margin-bottom: 30px;
}
.social a {
  width: 37px;
  height: 37px;
  border-radius: 50%;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-size: 17px;
  color: #eee;
  cursor: pointer;
  margin-right: 20px;
  background-color: rgba(255, 255, 255, 0.1);
  margin-bottom: 35px;
}
.social a:hover
{
    transform: scale(1.1);
    background: #2ecc71;
    transition: .4s;
}
@media screen and (max-width: 930px) {
  nav .hamb {
    display: initial;
  }
  .click {
    top: 46px;
  }
  .click span {
    position: absolute;
    margin-top: 12px;
  }
  .click span:first-child {
    transform: rotate(-40deg);
  }
  .click span:nth-child(2) {
    opacity: 0;
    margin: 0;
  }
  .click span:last-child {
    transform: rotate(40deg);
    top: 0;
  }
  nav .nav-list {
    position: absolute;
    top: 90px;
    right: -65%;
    bottom: 0;
    width: 60%;
    height: 50%;
    background: black;
    z-index: 2;
    padding: 6% 9%;
    transition: 0.3s right;
    border-radius: 10px;
  }
  nav .nav-list li {
    display: block;
  }
  nav .nav-list li a {
    display: block;
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    margin-left: 0;
    margin-bottom: 40px;
  }
  nav .nav-list.open {
    right: 0;
  }
}

.hero-text button {
  position: relative;
  background: #2ecc71;
  color: #fff;
  border: none;
  outline: none;
  padding: 15px 35px;
  font-size: 1.25em;
  letter-spacing: 0.05em;
  margin-right: 20px;
  border-radius: 4px;
  font-weight: 600;
  transition: 0.5s;
}
.hero-text button.chat {
  background: transparent;
  color: #fff;
}
.hero-text button.chat i {
  position: relative;
  top: 5px;
  color: #e91e63;
  font-size: 1.5em;
}
