/* HOME START */
@import url("https:/fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap");
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Open Sans", sans-serif;
}

.banner {
  position: relative;
  width: 100%;
  min-height: 100vh;
  padding: 0 100px;
  display: flex;
  align-items: center;
  background: linear-gradient(#2c2c2c, #222222);
}

.banner:before {
  content: "";
  position: absolute;
  top: 0;
  left: 300px;
  width: 400px;
  height: 320px;
  background: #00ff00;
  z-index: 1;
  transition: 1s;
}

.banner.active:before {
  top: 0;
  left: 0;
  width: 50%;
  height: 100%;
  background: #151415;
}

.banner:after {
  content: "";
  position: absolute;
  bottom: 0;
  right: 100px;
  width: 400px;
  height: 200px;
  background: #00ff00;
  z-index: 1;
  transition: 1s;
}

.banner.active:after {
  bottom: 0;
  right: 0;
  width: 50%;
  height: 100%;
  background: #151415;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 100px;
}

header .logo {
  font-size: 2em;
  color: #fff;
  font-weight: 700;
  text-decoration: none;
  transition: 0.5s;
  transform-origin: right;
}

.banner.active .logo {
  transform: scale(0);
  transform-origin: left;
}

.toggle {
  position: relative;
  width: 40px;
  height: 30px;
  background: url(/imgHome/menu.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 25px;
  cursor: pointer;
}

.toggle.active {
  background: url(/imgHome/close.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 20px;
}

.content {
  position: relative;
  z-index: 2;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: 0.5%;
  transform-origin: right;
}

.banner.active .content {
  transform: scale(0);
  transform-origin: left;
}

.content .contentBx {
  max-width: 600px;
}

.content .contentBx h2 {
  font-size: 4em;
  line-height: 1em;
  color: #fff;
  text-transform: uppercase;
}

.content .contentBx p {
  font-size: 1em;
  color: #fff;
  margin: 20px 0;
}

.content .contentBx a {
  display: inline-block;
  border: 1px solid #fff;
  color: #fff;
  padding: 10px 30px;
  text-transform: uppercase;
  text-decoration: none;
  transition: 0.5s;
}

.content .contentBx a:hover {
  letter-spacing: 4px;
  background: #fff;
  color: #111;
}

.imgBx img {
  max-width: 100%;
  min-width: 700px;
}

.sci {
  position: absolute;
  bottom: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2;
  transition: 0.5s;
  transform-origin: right;
}

.banner.active .sci {
  transform: scale(0);
  transform-origin: left;
}

.sci li {
  list-style: none;
}

.sci li a {
  display: inline-block;
  margin-right: 10px;
  filter: invert(1);
  transform: scale(0.6);
}

.menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  z-index: 2;
  visibility: hidden;
  opacity: 0;
  transition: 0.5s;
  transition-delay: 0s;
  background: rgb(18, 18, 18);
  background: linear-gradient(
    142deg,
    rgba(18, 18, 18, 0.87718837535014) 59%,
    rgba(23, 236, 23, 0.79) 95%
  );
}

.banner.active .menu {
  visibility: visible;
  opacity: 1;
  transition-delay: 1s;
}

.menu li {
  list-style: none;
}

.menu li a {
  color: #fff;
  text-decoration: none;
  font-size: 2em;
}

@media (max-width: 991px) {
  header {
    padding: 20px 40px;
  }
  .banner {
    padding: 40px;
    overflow: hidden;
  }
  .banner:before {
    top: 100px;
    left: 0;
    width: 170px;
    height: 310px;
  }
  .banner:after {
    bottom: 0;
    right: 0;
    width: 80px;
    height: 60px;
  }
  .content {
    flex-direction: column-reverse;
    margin: 50px 0;
  }
  .content .contentBx {
    max-width: 100%;
    min-width: 300px;
  }
  .content .contentBx h2 {
    font-size: 2.5em;
  }
}
/* HOME END */

/* PROFILE START */
.boxs {
  position: relative;
  width: 400px;
  height: 400px;
  background: rgba(0, 0, 0, 0.5);
  border-radius: 50%;
  overflow: hidden;
}

.boxs::before {
  content: '';
  position: absolute;
  inset: -10px 140px;
  background: linear-gradient(315deg, #00fd3f, #fdfdfd);
  transition: 0.5s;
  animation: animate 4s linear infinite;
}

.boxs:hover::before {
  inset: -20px 0px;
}

@keyframes animate {
  0% {
      transform: rotate(0deg);
  }

  100% {
      transform: rotate(360deg);
  }
}

.boxs::after {
  content: '';
  position: absolute;
  inset: 6px;
  background: #ffffff;
  border-radius: 50%;
  z-index: 1;
}

.contents {
  position: absolute;
  inset: 30px;
  border: 6px solid #288337;
  z-index: 3;
  border-radius: 50%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.contents img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: 0.5s;
  pointer-events: none;
  z-index: 3;
}

.boxs:hover .contents img {
  opacity: 0;
}

.contents h2 {
  position: relative;
  font-size: 1.5em;
  text-align: center;
  color: #000000;
  font-weight: 600;
  letter-spacing: 0.05em;
  text-transform: uppercase;
}

.contents h2 span {
  font-weight: 300;
  font-size: 0.75em;
}

.contents a {
  position: relative;
  margin-top: 10px;
  padding: 10px 20px;
  background: #000000;
  color: #ffffff;
  border-radius: 25px;
  font-weight: 500;
  font-size: 1.25em;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  text-decoration: none;
  transition: 0.5s;
}

.contents a:hover {
  letter-spacing: 0.2em;
}
/* PROFILE END */

/* PRODUCT START */
.cards {
  position: relative;
  width: 300px;
  height: 350px;
  margin: 20px;
  border-radius: 20px;
  transition: 0.5s;
  transition-delay: 0.5s;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.cards:hover {
  width: 600px;
  transition-delay: 0s;
}
.cards .circle {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 20px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}
.cards .circle::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: var(--clr);
  clip-path: circle(120px at center);
  transition: 0.5s;
}
.cards:hover .circle::before {
  clip-path: circle(400px at center);
}
.cards .circle .logos {
  position: relative;
  width: 200px;
  transition: 0.5s;
  transition-delay: 0.5s;
}
.cards:hover .circle .logos {
  transform: scale(0);
  transition-delay: 0s;
}
.contentes {
  position: relative;
  width: 50%;
  left: 20%;
  padding: 20px 20px 20px 40px;
  opacity: 0;
  transition: 0.5s;
  visibility: hidden;
}
.cards:hover .contentes {
  left: 0;
  opacity: 1;
  visibility: visible;
  transition-delay: 0.5s;
}
.contentes h2 {
  color: #000000;
  text-transform: uppercase;
  font-size: 2.5em;
  line-height: 1em;
}
.contentes p {
  color: #000000;
}
.contentes a {
  position: relative;
  color: #ffffff;
  background: #00ff00;
  padding: 10px 20px;
  border-radius: 10px;
  margin-top: 10px;
  display: inline-block;
  text-decoration: none;
  font-weight: 500;
}
.cards .product_img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  height: 220px;
  transition: 0.5s;
  transition-delay: 0s;
}
.cards:hover .product_img {
  left: 72%;
  transform: translate(-50%, -50%) scale(1);
  transition-delay: 0.5s;
}

/* responsive */
@media (max-width: 991px) {
  .cards {
    width: auto;
    max-width: 350px;
    align-items: flex-start;
  }
  .cards:hover {
    height: 600px;
  }
  .cards:hover .product_img {
    top: initial;
    bottom: 30px;
    left: 50%;
    transform: translate(-50%, 0%) scale(1);
    height: 300px;
  }
  .cards .contentes {
    width: 100%;
    left: 0;
    padding: 40px;
  }
}
/* PRODUCT END */

/* PAYMENT START */
.body{
  background: #00fd3f;
  margin: 0 5px;
  height: 500px;
}

.payment{
  background: #f8f8f8;
  max-width: 360px;
  margin: 20px auto;
  height: 200px;
  padding: 60px;
  padding-top: 60px;
  border-radius: 5px;
  position: relative;
}

.payment h2{
  text-align: center;
  letter-spacing: 2px;
  margin-bottom: 40px;
  color: #0d3c61;
}

.form .label{
  display: block;
  color: #555555;
  margin-bottom: 3px;
}
#popup .form {
  text-align: center;
}
#popup .form input {
  margin-top: 8px;
  border-radius: 5px;
  height: 40px;
  padding: 10px;
  text-align: center;
  background: rgba(0, 0, 0, 0.1);
  border: none;
}
#popup .form .min,
#popup .form .plus {
  height: 40px;
  padding: 5px 15px;
  border-radius: 5px;
  color: rgba(0, 114, 54, 255);
  background: #eee;
  border: 2px solid rgba(0, 0, 0, 0.1);
  font-weight: 900;
}
#popup p {
  text-align: center;
  color: #111;
  margin-top: 8px;
}
.input{
  padding: 13px 0px 13px 25px;
  width: 100%;
  text-align: center;
  border: 2px solid #dddddd;
  border-radius: 5px;
  letter-spacing: 1px;
  word-spacing: 3px;
  outline: none;
  font-size: 16px;
  color: #555555;
}

.cardd-grp{
  display: flex;
  justify-content: space-between;
}

.cardd-item{
  width: 40%;
}

.space{
  margin-bottom: 10px;
}

.icon-relative{
  position: relative;
}

.icon-relative .fas,
.icon-relative .far{
  position: absolute;
  bottom: 12px;
  left: 15px;
  font-size: 20px;
  color: #555555;
}

.btnn{
  margin-top: 10px;
  background: #00fd3f;
  padding: 12px;
  text-align: center;
  color: #f8f8f8;
  border-radius: 5px;
  cursor: pointer;
}


.payment-logo{
  position: absolute;
  top: -50px;
  left: 50%;
  transform: translateX(-50%);
  width: 100px;
  height: 100px;
  background: #f8f8f8;
  border-radius: 50%;
  box-shadow: 0 0 5px rgba(0,0,0,0.2);
  text-align: center;
  line-height: 85px;
}

.payment-logo:before{
  content: "";
  position: absolute;
  top: 5px;
  left: 5px;
  width: 90px;
  height: 90px;
  background: #00fd3f;
  border-radius: 50%;
}

.payment-logo p{
  position: relative;
  color: #f8f8f8;
  font-family: 'Baloo Bhaijaan', cursive;
  font-size: 58px;
}


@media screen and (max-width: 420px){
  .cardd-grp{
    flex-direction: column;
  }
  .cardd-item{
    width: 100%;
    margin-bottom: 20px;
  }
  .btnn{
    margin-top: 20px;
  }
}
/* PAYMENT END */
